@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
    box-sizing: border-box;
}

.wrapper {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Lato", "sans-serif";
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.layout-sheet {
    width: auto;
    perspective: 1000px;
}

.layout-sheet.active-sheet {
    padding: 1em;
}

.row > .wrapper {
    flex-shrink: 0;
    width: auto;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}

.single-seat {
    text-align: center !important;
    font-size: 12px;
    background-color: #444451;
    height: 25px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.single-seat.selected {
    color: #242333;
    background-color: #00ff22;
}

.single-seat.occupied {
    color: #242333;
    background-color: #fff;
}

.single-seat.deleted {
    color: #ffffff;
    background-color: rgb(255, 0, 0);
}

/* .single-seat:nth-of-type(5) {
    margin-right: 28px;
} */

/* .single-seat:nth-last-of-type(2) {
    margin-left: 18px;
} */

.single-seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .single-seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.double-seat {
    text-align: center !important;
    font-size: 12px;
    background-color: #445148;
    height: 23px;
    width: 50px;
    margin: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.double-seat.selected {
    color: #242333;
    background-color: #2bff00;
}

.double-seat.occupied {
    color: #242333;
    background-color: #fff;
}

/* 
.double-seat:nth-of-type(10) {
    margin-right: 28px;
} */

/*dobule.seat:nth-last-of-type(2) {
    margin-left: 18px;
} */

.double-seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.r_ow {
    display: flex;
}

.screen {
    background-color: rgb(255, 0, 0);
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6;
}
