.radio-toolbar {
    margin: 10px;
}

.radio-toolbar-input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar-label {
    display: inline-block;
    background-color: #ffffff;
    padding: 0;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #e53637;
    border-radius: 4px;
    color: #e53637;
}

.radio-toolbar-label:hover {
    background-color: #b10e0e;
    color: white;
    cursor: pointer;
}

.radio-toolbar-input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar-input[type="radio"]:checked + label {
    background-color: #e53637;
    border-color: #e53637;
    color: white;
}

.btn-ticket {
    padding: 10px 20px;
}

.btn-ticket-1 {
    width: 45px;
}

.btn-ticket-2 {
    width: 90px;
}

.modal-film {
    padding-top: 100px;
}

.modal-film-content {
    padding: 10px 150px;
}
